<div ng-controller="editArtistController">
    <form name="form" novalidate ng-hide="isBusy" style="padding-top:1em">
        <img ng-show="isShowImage && !artist.imageId" ng-src="/images/{{artist.imageName}}" ng-click="showImage(false)" class="editimage editartistimage" />
        <img ng-show="isShowImage && artist.imageId" ng-src="/api/image/{{artist.imageId}}" ng-click="showImage(false)" class="editimage editartistimage" />
        <div class="input-group" ng-hide="isShowImage">
            <input type="file" accept="image/*" onchange="angular.element(this).scope().selectedFileChanged(this)" />
        </div>
        <input type="text" class="form-control editname" placeholder="name" ng-model="artist.name" ng-required />
        <div class="buttonblock">
            <button type="submit" ng-show="artist.id" class="btn btn-warning deletebutton" data-style="expand-right" ng-click="delete()">Delete</button>
            <button type="submit" ng-disabled="form.$invalid || form.$pristine" class="btn btn-primary" data-style="expand-right" ng-click="save()">Save</button>
            <button type="button" class="btn btn-default" ng-click="cancelEdit()">Cancel</button>
        </div>
    </form>
</div>

